// Color Variables
$primary-color: #FF920E;
$secondary-color: #57C4E5;
$text-color: #212738;
$text-color-dark: #424B54;
$text-color-light: #ffffff;
$body-color: #fff;
$border-color: #D1D646;
$black: #000;
$white: #fff;
$gray: #edf2ef;

// Font Variables
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Playfair Display', serif;
$icon-font: 'themify';